<!DOCTYPE html>
<html>
<head>
    <title>Camera</title>
   <link rel="stylesheet" href='../static/styles.css'>
</head>
<body>
    <div class="heading">
        <h1>TH3RD Eye</h1>
    </div>

    <div class="Home">
    <img id='image1'src="{{url_for('static',filename='Images/First.png')}}" alt="heading">
    </div>
    <div class="middle-element">
        <img id='image1'src="{{url_for('static',filename='Images/Second.png')}}" alt="heading"> 
    </div>
    <div class="camera-screen">
     
        <img  id='camera'src="{{ url_for('video_feed') }}">
    </div>    
        <!-- <div class="example">
        <div class="input-box">
         
      <input
        type="text"
        id="fname"
        name="fname"
        class="text-box"
        placeholder="Website Link"
      />
        </div> -->

        
    
    
</body>
</html>
